:root {
    --dark-blue: #001d3d;
    --dark-yellow: #ffc300;
    --blue: #003566;
    --yellow: #ffd60a;
    --dark-color: #000814;
    --light-color: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    color: var(--dark-color);
    background-color: var(--light-color);
    background-image: url(./images/photo-1498050108023-c5249f4df085.jpg);
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}

p:hover {
    font-weight: bold;
    text-shadow:2px 2px 10px rgba(0, 0, 0, 0.8);
}

/*  start header css */
header {
    display:flex;
    flex-flow: row wrap;
    background-color: var(--dark-color);
    color: var(--light-color);
    justify-content: space-between;
    text-align: center;
    padding: 25px;
    width: 100%;
    
    
}

header span {
    color: var(--yellow);
    font-size:30px;
}


header h1 a {
    text-decoration: none;
    color: var(--light-color);
    padding: 0 3px 0 3px;;
    margin: none;
    
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    list-style: none;
}

header nav ul li {
    padding-right: 20px;
    padding-top: 15px;
    font-size:large;
}

header nav a{
    color: var(--light-color);
    padding: 5px;
    text-decoration: none;
    list-style: none;
    border-bottom: 3px solid var(--light-color);
}

header nav ul li a:hover {
    color: var(--yellow);
    border-bottom: 3px solid var(--yellow);
    
}

.bio {
    display: flex;
    justify-content:space-around;
    width: 40%;
    padding: 20px;
    margin: 50px 0 0 20px;
    background-color:rgba(20, 33, 61, .8);
    border-left: 5px solid var(--dark-yellow);
    color: var(--light-color);
    font-size: 18px;
    flex-flow: row wrap;
    
}

.bio img {
    width: 35%;
    margin-right: 30px;    
}

.bio-text {
    display: flex;
    width: 35%;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding: 10px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.bio h2 {
    color: var(--yellow);
    padding: 5px;
    text-align: center;
    font-size: 50px;
    text-shadow:2px 2px 10px rgba(0, 0, 0, 0.8);

}

.bio h2:hover {
    color: var(--dark-yellow);
    font-style:italic;
}

.bio h3  {
    padding: 10px 0 10px 5px;
    font-size: 25px;
    color: var(--yellow);
}

.bio h3:hover {
    color: var(--dark-yellow);
    font-style:italic;
}

@media screen and (max-width: 980px)  {
    .bio {
        width: 60%;
        line-height: 1.5;
    }    
}

@media screen and (max-width: 575px)  {
    .bio {
        width: 80%;
        line-height: 1.5;
    }    
}
